name: CI

on: [push]

jobs:
  build:
    name: build
    env: 
     USE_DOTNET-VERSION: '3.1.100'
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [windows-latest, ubuntu-latest] #macOS-latest
    #runs-on: [windows-latest]
       
    steps:

      - name: Checkout
        uses: actions/checkout@master


      - name: Setup dotnet env
        uses: actions/setup-dotnet@v1
        with:
            dotnet-version: $USE_DOTNET-VERSION # SDK Version to use.


      - name: Build projects
        uses: actions/setup-dotnet@v1
        with:
            dotnet-version: $USE_DOTNET-VERSION # SDK Version to use.
        run: dotnet build --configuration Release src/ConfluenceCloudExportPermission.sln


      - name: Run unit-tests
        run: dotnet test --verbosity normal src/
      #- run: dotnet test --verbosity normal src/ConfluenceCloudExportPermission.sln


      - name: Publish for Win-x64 as SingleFile
        if: runner.os == 'Windows'
        run: dotnet publish --configuration Release --runtime win-x64 /p:PublishSingleFile=true /p:PublishTrimmed=true src/ConfluenceCloudExportPermission/ConfluenceCloudExportPermission.csproj


      - name: Upload artifact
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v1
        with:
            name: RemoteIncrediBuild_Release_Win-x64
            path: src\ConfluenceCloudExportPermission\bin\Release\netcoreapp3.1\win-x64\publish\
