name: CI

on: [push]

jobs:
  build:
    name: build
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [windows-latest, ubuntu-latest] #macOS-latest
    #runs-on: [windows-latest]
       
    steps:

      - name: Checkout
      - uses: actions/checkout@master


      - name: Setup dotnet env
      - uses: actions/setup-dotnet@v1
        with:
            dotnet-version: '3.1.100' # SDK Version to use.
      - run: dotnet build --configuration Release src/ConfluenceCloudExportPermission.sln


      - name: test
      - uses: actions/setup-dotnet@v1
        with:
            dotnet-version: '3.1.100' # SDK Version to use.
      #- run: dotnet test --verbosity normal src/ConfluenceCloudExportPermission.sln
        
